body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue-300);
}

.container{
    border-radius: 1rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
    padding: 4rem 6rem;

    background-color: var(--light-blue-100);
    border: .125rem solid var(--light-blue-500);
    border-top: 1.5rem solid var(--light-blue-700);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06); 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ilustration header"
                         "ilustration data"
                         "footer footer";
}

.container__ilustration{
    grid-area: ilustration;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 4rem;
}

.container__ilustration img{
    width: 48rem;
}

.container__header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    margin-bottom: 2.5rem;
}

 .container__header h1{
    font-size: 3.2rem;

    color: var(--black-200);
    text-transform: uppercase;
}

.container__header p{
    font-size: 2rem;
    width: 36rem;

    color: rgba(33, 37, 41, 0.8)
}

.container__data{
    grid-area: data;
    margin-left: 2rem;
}

.container__data ul{
    list-style: none;

    width: 48rem;
}

.container__data ul li:not(:last-of-type){
    margin-bottom: 1rem;
}

.container__data ul li :is(span, strong){
    font-size: 2rem;
}

.container__footer{
    grid-area: footer;
    text-align: center;

    margin-top: 6rem;
}

.container__footer p{
    font-size: 2rem;
    font-style: italic;
}